# Cấu hình kết nối cơ sở dữ liệu MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=movie_recommendation_db
MONGO_COLLECTION_NAME=user_recommendations

# Các biến môi trường khác (Nếu cần)
PORT=8080
