# Ignore data files to save GitHub storage
data/
*.zip
*.csv
*.json
*.parquet

# Environment variables
.env
*.env

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE and OS specific
.vscode/
.idea/
.DS_Store

# Node.js & Next.js
node_modules/
.next/
out/
build/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
