# Lõi xử lý Big Data & Học máy
pyspark>=3.3.0
numpy
pandas

# Tích hợp Cơ sở dữ liệu NoSQL
pymongo>=4.6.0
python-dotenv>=1.0.0

# Giao diện Web Application
streamlit>=1.30.0
# gradio>=4.20.0 (Bỏ dấu # ở đầu nếu nhóm bạn quyết định dùng Gradio thay vì Streamlit)
